<div style="background: #2e0e5a;padding-top: 100px;padding-bottom: 100px">
  <div class="row" style="max-width: 1500px;margin: auto">
    <div class="each_section">
        <img src="assets/footer/phont_icon.png" class="phone_icon">
      <p class="three_wording"> <a href="tel:042-090-9356" style="color: white;text-decoration: none">+(61) 420 909 356</a></p>
    </div>

    <div class="each_section">
      <!-- <img src="assets/footer/map_icon.png" class="map_icon">
      <p class="three_wording" style="margin-top: 0px">17 - 21 University Ave, <br>Canberra ACT 2601</p> -->
    </div>

    <div class="each_section">
      <img src="assets/footer/mail_icon.png" class="mail_icon">
      <p class="three_wording" style="margin-top: 28px"><a href="mailto:admin@webumate.com" style="color: white;text-decoration: none">admin@webumate.com</a></p>
    </div>

    <div class="longer_wording">
      webUmate is a digital design agency based in Canberra, ACT
    </div>

    <div class="shorter_wording">
      © 2023 webUmate. All Rights Reserved. Privacy Policy
    </div>
  </div>
</div>
