<div style="background: #2e0e5a;padding-top: 100px;padding-bottom: 100px">
  <div class="row" style="max-width: 1500px;margin: auto">
    <div class="each_section">
        <img src="assets/footer/phont_icon.png" class="phone_icon">
      <p class="three_wording">+(61) 436 756 657</p>
    </div>

    <div class="each_section">
      <img src="assets/footer/map_icon.png" class="map_icon">
      <p class="three_wording" style="margin-top: 0px">10/1 Childers St, <br>Canberra ACT 2600</p>
    </div>

    <div class="each_section">
      <img src="assets/footer/mail_icon.png" class="mail_icon">
      <p class="three_wording" style="margin-top: 28px">info@webumate.com</p>
    </div>

    <div class="longer_wording">
      webUmate is an award-winning digital design agency based in Canberra, ACT
    </div>

    <div class="shorter_wording">
      © 2020 webUmate. All Rights Reserved. Privacy Policy
    </div>
  </div>
</div>
