<!-- Middle white part -->
<div class="middle_white_part_whole_border">
  <div class="middle_white_part_margin_box">
    <img src="assets/home/left%22.png" style="position: absolute;left: 20%;width: 10%;">
    <h1 class="section_header_we_are_webumate">WE ARE webUmate</h1>

    <h2 class="middel_white_main_content">
      webUmate is a user-centred company which can handle all Client’s website needs including the UI/UX design,
      website content formation, some innovative solutions, hosting and CRM solutions.
    </h2>
    <img src="assets/home/right%22.png" style="position: absolute;left: 70%;width: 10%;margin-top: -60px">
  </div>
</div>
