<!-- Middle pink part -->
<div
  style="height: auto;background: #ff2aad;width: 100%;margin:auto;text-align: center;color: #2e0e5a;padding-bottom: 100px">
  <div id="triangle_white"></div>

  <div class="pink_section_main_content">
    <div class="row" style="margin: 0">
      <div class="why_choose_left_wording">
        <h1 class="section_header_why_choose">WHY CHOOSE</h1>

        <h1 class="section_header_webUmate">webUmate?</h1>
      </div>
      <div class="why_choose_right_icons">
        <img src="assets/home/icon_01.png" class="icons_under_why_choose">
        <!-- <p class="icons_right_intro_under_why_choose">We can provide UI design.</p> -->
        <p class="icons_right_intro_under_why_choose">We provide customized solutions for each individual Client.</p>

        <img src="assets/home/icon_02.png" class="icons_under_why_choose">
        <p class="icons_right_intro_under_why_choose">We apply proper frameworks and tools to build a website.</p>

        <img src="assets/home/icon_03.png" class="icons_under_why_choose">
        <p class="icons_right_intro_under_why_choose">We are passionate about the customer's needs and feedback.</p>

        <img src="assets/home/icon_04.png" class="icons_under_why_choose">
        <p class="icons_right_intro_under_why_choose">We can give customers long-term support and maintenance.</p>

        <img src="assets/home/icon_05.png" class="icons_under_why_choose">
        <p class="icons_right_intro_under_why_choose">We have the lowest price to design, build and support
          high-quality website.</p>
      </div>
    </div>


    <div class="row six_buttons">
      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/UI:UX_design.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">UI/UX<br> Design</p>
      </div>

      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/website_development.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">Website<br>Development</p>
      </div>

      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/cusomised_requests.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">Customer Relationship<br>Management</p>
      </div>

      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/support_maintenance.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">Support + <br> Maintenance</p>
      </div>

      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/price_ganrantee.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">Price<br>Ganrantee</p>
      </div>

      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/website_security.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">Website<br>Security</p>
      </div>

    </div>
  </div>


</div>

<div id="triangle_pink"></div>
