@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

body {
  font-family: Libre Caslon Text;
  background-color: #FFAB91;
}

.body-text {
  padding-top: 20vh;
  text-align: center;
  position: relative;
}


.navbar_btns{
  padding: 20px;background: transparent;color: white;font-size: 23px;margin-top: 40px;
}
.spaces_between_navbar_btns{
  width: 10px;
}

.contact_img{
  margin-top: 50px;width: 240px;
}



.hamburger-icon {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 5vw;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

#openmenu:checked ~ .menu-pane {
  left: -5vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: #000;
  position: absolute;
  transform: translateX(-105vw);
  width: 100vw;
  height: 100%;
  transition: 0.6s ease-in-out;
}

.menu-pane p {
  color: black;
  font-size: 0.6em;
}

.menu-pane nav {
  padding: 10%;
}

.menu-links li, a, span {
  transition: 0.5s ease-in-out;
}

.menu-pane ul {
  padding: 10%;
  display: inline-block;
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 40px;
  font-size: 1.5em;
}

.menu-pane li:first-child {
  padding-top: 40px;
}


.menu-links li a {
  color: white;
  text-decoration: none;
}


.menu-links li:hover a {
  color: #FFAB91;
}

/*change color*/
/*.menu-links li:first-child:hover a {*/
/*  color: black;*/
/*  background-color: #FFAB91;*/
/*}*/

/*#QC-info {*/
/*  background-color: #FFAB91;*/
/*  border: 2px solid;*/
/*  border-color: #FFAB91;*/
/*  display: block;*/
/*  opacity: 0;*/

/*}*/

/*.menu-links li:first-child:hover #QC-info {*/
/*  opacity: 1;*/
/*}*/

/*.menu-links li:first-child:hover #DC-info {*/
/*  opacity: 1;*/
/*}*/

#DC-info {
  background-color: #FFAB91;
  border: 2px solid;
  border-color: #FFAB91;
  display: block;
  opacity: 0;
}


/*.menu-links li:first-child a {*/
/*  padding: 5px;*/
/*}*/



/*desktop versions*/
.webUmate_logo{
  width: 40%;margin-top: 40px
}
.outer_div_for_logo{
  width: 40%;height: 100px
}
.webUmate_menus{
  width: 60%;height: 100px
}
.webUmate_menus_row{
  margin: 0;float: right;
}


input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}

.mobile_img_logo{
  position: fixed;right: 50px;width: 30%;margin-top: 30px;
}

@media screen and (min-width: 801px) {
  .mobile_navbar{
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .desktop_navbar{
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .webUmate_logo{
    margin-left: 40px;width: 55%;
  }
  .outer_div_for_logo{
    width: 30%;
  }
  .webUmate_menus{
    width: 70%;
  }
  .webUmate_menus_row{
    margin-right: 40px;
  }
}
@media screen and (max-width: 1105px) {
  .navbar_btns{
    padding: 10px 10px;
  }
}
@media screen and (max-width: 950px) {
  .outer_div_for_logo{
    width: 25%;
  }
  .webUmate_logo{
    margin-left: 30px;width: 75%;
  }
  .webUmate_menus{
    width: 70%;
  }
  .navbar_btns{
    font-size: 20px;
  }
  .spaces_between_navbar_btns{
    width: 0;
  }
  .contact_img{
    margin-top: 40px;width: 240px
  }
}

@media screen and (max-width: 500px) {
  .mobile_img_logo{
    width: 50%;
  }
}
