
<div style="position: fixed;width: 100%;top:0;z-index: 999">
  <app-navbar></app-navbar>
</div>
<div class="enquiry_section" id="enquiry_section" style="background: #2e0e5a;margin-left: 0;margin-right: 0;">
  <div class="row whole_body">
  <div class="half_section_width">
    <h1 class="section_header_purple">GET IN TOUCH</h1>
    <h2 class="top_left_sub_title">Are you ready to make something memorable? We're ready to help</h2>
<!--    <app-google-map-component></app-google-map-component>-->



    <div class="right_map_section">
      <!-- MAP AREA -->
      <!--  <div class="mapouter" style="z-index: -1">-->
      <!--    <div class="gmap_canvas">-->
      <!--      <iframe width="750" height="500" id="gmap_canvas"-->
      <!--              src="https://maps.google.com/maps?q=zoobar+and+gril&oq=zoobar+and+gril&aqs=chrome..69i57j0l7.2697j0j7&sourceid=chrome&ie=UTF-8&iwloc=&output=embed"-->
      <!--              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>-->
      <!--      <a href="https://www.embedgooglemap.net/blog/elementor-review/"></a>-->
      <!--    </div>-->
      <!--  </div>-->

      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="600" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3257.019967615076!2d149.12275201567468!3d-35.28062980113511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b164d42487d728f%3A0xe222d4fcb92b368d!2zMjQgTWFyY3VzIENsYXJrZSBTdCwgQ2FuYmVycmEgQUNUIDI2MDHmvrPlpKfliKnkupo!5e0!3m2!1szh-AU!2sus!4v1604751085337!5m2!1szh-AU!2sus" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

          </iframe>
          <a href="https://www.embedgooglemap.net">
            google embed maps
          </a>
        </div>

      </div>


<!--      <div class="mapouter">-->
<!--        <div class="gmap_canvas">-->
<!--          <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=cbd%20dumpling&t=&z=13&ie=UTF8&iwloc=&output=embed"-->
<!--                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0">-->
<!--          </iframe>-->



<!--          <a href="https://divi-discount.com/elegant-themes/">-->
<!--            elegant themes coupon-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
    </div>



  </div>
  <div class="half_section_width">
    <h1 class="section_header_purple mobile_only">Enquiry Form</h1>
  <div class="enquiry_body">
      <div class="name_section">
        <input type="text" placeholder="Name *" class="text_box" [(ngModel)]="customerName" />
        <div [hidden]="!nameShow" class="error_message">
          This field is required
        </div>
      </div>
      <div class="mobile_section">
        <input type="text" placeholder="Mobile" class="text_box" [(ngModel)]="customerMobile" />
<!--        <div [hidden]="!mobileShow" class="error_message">-->
<!--          This field is required-->
<!--        </div>-->
      </div>

      <div class="email_section">
        <input type="text" placeholder="Email *" class="text_box" [(ngModel)]="customerEmail" />
        <div [hidden]="!emailShow" class="error_message">
          This field is required
        </div>
        <div [hidden]="!invalidEmail" class="error_message">
          The email address entered is invalid
        </div>
    </div>
    <div class="subject_section">
      <input type="text" placeholder="Subject * " class="text_box" [(ngModel)]="customerSubject" />
              <div [hidden]="!subjectShow" class="error_message">
                This field is required
              </div>
    </div>
    <div class="message_box" style="width: 100%">
                <textarea placeholder="Message * " [(ngModel)]="customerMessage" class="text_area_box"
                          rows="10" cols="0">
                </textarea>
      <div [hidden]="!enquiryMessageShow" class="error_message">
        This field is required
      </div>
    </div>
    <div class="submit_button" (click)="formsubmit()">
      <button type="button" class="enquire_button_btn">
        {{submitBut}}
      </button>


      <div class="big_error_message" [hidden]="!bigErrorShow">
        One or more fields have an error. Please check and try again.
      </div>

      <div class="success_message" [hidden]="!showSuccessMessage">
        &#10003; Thanks for submitting your enquiry. We will get in touch with you very soon.
      </div>

    </div>
  </div>
  </div>
  </div>
</div>

<app-footer></app-footer>



<!--
You can use either of these 2 settings.

Incoming Server: mail.webumate.com.au
IMAP Port: 143
POP3 Port: 110
Outgoing Server: mail.webumate.com.au
SMTP Port: 587

Incoming Server: cp-wc16.lon01.ds.network
IMAP Port: 993
POP3 Port: 995
Outgoing Server: cp-wc16.lon01.ds.network
SMTP Port: 465
-->
