
<div class="slider">
  <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
  <input type="radio" name="slider" title="slide2" class="slider__nav"/>
  <input type="radio" name="slider" title="slide3" class="slider__nav"/>
  <input type="radio" name="slider" title="slide4" class="slider__nav"/>
  <div class="slider__inner">
    <div class="slider__contents">
      <img src="assets/home/zoobar.jpg" class="website_photo">
      <div>
        <p class="recent_project_first_line">WEB DEVELOPMENT, ADVERTISING, PHOTOGRAPHY</p>
        <p class="recent_project_second_line">ZOO BAR & GRILL</p>
        <p class="recent_project_third_line">Dining Experience</p>
      </div>
    </div>
    <div class="slider__contents">
      <img src="assets/home/gtxy.jpg" class="website_photo">
      <div>
        <p class="recent_project_first_line">UX/UI DESIGN, CREATIVE SERVICE, WEB DEVELOPMENT</p>
        <p class="recent_project_second_line">GRP</p>
        <p class="recent_project_third_line">Transforming People's Lives</p>
      </div>
    </div>
    <div class="slider__contents">
      <img src="assets/home/cbddumpling.jpg" class="website_photo">
      <div>
        <p class="recent_project_first_line">WEB DEVELOPMENT, ADVERTISING, PHOTOGRAPHY</p>
        <p class="recent_project_second_line">CBD DUMPLING HOUSE</p>
        <p class="recent_project_third_line">Best Local Restaurant</p>
      </div>
    </div>
    <div class="slider__contents">
      <img src="assets/home/yanglao.jpg" class="website_photo">
      <div>
        <p class="recent_project_first_line">WEB DEVELOPMENT, ADVERTISING,UX/UI DESIGN</p>
        <p class="recent_project_second_line">NURSING HOME</p>
        <p class="recent_project_third_line">The Elderly Caring Service</p>
      </div>
    </div>

  </div>
</div>
