


<!-- Middle white recent project part -->
<!-- <div style="height: auto;width: 100%;padding-bottom: 0" class="desktop_carousel"> -->
<!--  opacity: 1;filter: none-->
<!-- <a class="carousel-control-prev" href="#recipeCarousel2" role="button" data-slide="prev"
   style="position: relative;left: 69%;">
  <span class="" aria-hidden="true">
    <img src="assets/home/left_arrow_with_background.jpg"
         style="width: 15%;position: absolute;margin-left: 80%">
  </span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#recipeCarousel2" role="button" data-slide="next"
   style="position: relative;left: 80%">
  <span aria-hidden="true">
          <img src="assets/home/right_arrow_with_background.jpg"
               style="width: 15%;position: absolute;left: 80%">
  </span>
  <span class="sr-only">Next</span>
</a>
<div class="row" style="max-width: 1500px;margin: auto;">
  <h1 class="section_header_recent_word" style="color: #2e0e5a">RECENT WORK</h1>
</div> -->

<!-- <div class="container-fluid mt-5"> -->
<!-- Grid row -->
<!-- <div class="row"> -->
<!-- Grid column -->
<!-- <div class="col-md-12 mb-4"> -->
<!-- <div style="width: 100%"> -->
<!-- <div class="row mx-auto my-auto"> -->
<!-- <div id="recipeCarousel2" class="carousel slide w-100 " data-ride="carousel"> -->
<!-- <div class="carousel-inner w-100 vv-3" role="listbox"> -->
<!-- <div class="carousel-item active">
  <div class="col-4">
    <img class="d-block img-fluid"
         src="assets/home/zoobar.jpg" style="width: 95%">
    <div>
      <p class="recent_project_first_line">WEB DEVELOPMENT, ADVERTISING, PHOTOGRAPHY</p>
      <p class="recent_project_second_line">ZOO BAR & GRILL</p>
      <p class="recent_project_third_line">Dining Experience</p>
    </div>
  </div>
</div> -->
<!-- <div class="carousel-item active">
  <div class="col-4">
    <img class="d-block img-fluid"
         src="assets/home/gtxy.jpg" style="width: 95%">
    <div>
      <p class="recent_project_first_line">UX/UI DESIGN, CREATIVE SERVICE, WEB DEVELOPMENT</p>
      <p class="recent_project_second_line">GRP</p>
      <p class="recent_project_third_line">Transforming People's Lives</p>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="col-4">
    <img class="d-block img-fluid"
         src="assets/home/cbddumpling.jpeg" style="width: 95%">
    <div>
      <p class="recent_project_first_line">WEB DEVELOPMENT, ADVERTISING, PHOTOGRAPHY</p>
      <p class="recent_project_second_line">CBD DUMPLING HOUSE</p>
      <p class="recent_project_third_line">Best Local Restaurant</p>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="col-4">
    <img class="d-block img-fluid"
         src="assets/home/yanglao.jpg" style="width: 95%">
    <div>
      <p class="recent_project_first_line">WEB DEVELOPMENT, ADVERTISING,UX/UI DESIGN</p>
      <p class="recent_project_second_line">NURSING HOME</p>
      <p class="recent_project_third_line">The Elderly Caring Service</p>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
Grid column
</div>
Grid row
</div>
</div> -->

<div class="mobile_carousel">
  <div class="row" style="max-width: 1500px;margin: auto;">
    <h1 class="section_header_recent_word" style="color: #2e0e5a">RECENT WORK</h1>
  </div>
  <app-mobile-carousel></app-mobile-carousel>
</div>
