
<div style="position: fixed;width: 100%;top:0;z-index: 999">
  <app-navbar></app-navbar>
</div>



<!-- Top purple part -->
<div style="height: auto;background: #2e0e5a;width: 100%;">
  <div class="row" style="max-width: 1800px;margin: auto">
    <div class="container">
      <img src="../../assets/team/big_U.png" class="big_U_img" alt="Snow">
      <div class="centered">

        <h1 class="big_wording_title">
          A TEAM BUILT TO CREATE REAL VALUE
        </h1>

        <h2 class="top_part_content">
          webUmate is made up of an agile team of web designers and web developers with the technical
          expertise, creativity, and vision to create beautiful, smart website designs.
        </h2>
      </div>
    </div>
  </div>

</div>

<div class="main_section_whole_border desktop_version" style="background: white;width: 100%">
  <div class="main_section_img_wording_main_part_single">
    <div class="row section_main_part">
      <div class="img_part">
        <img src="../../assets/team/Sarvesh.png" class="people_img">
      </div>
      <div class="wording_part">
        <p class="name">
          SARVESHWARAN RAJAN
        </p>
        <p class="title">
          <i>Project Manager</i>
        </p>
        <p class="introduction">
          This is Sarvesh, who graduated from The Australian National University with a Master of Computing degree
          majored in Artificial Intelligence. I have been involved in the complete Software Development LifeCycle for
          more than six years now. As a System Design enthusiast and a Full Stack developer, I have experience building
          systems from scratch and have exe- cuted a few projects that are successful in production now. In the
          webU- mate, I am responsible for designing systems, implementing the backend technologies and also act as
          the Project manager directing the team to- wards the intended goal in a more efficient manner.
        </p>
      </div>

    </div>
  </div>
  <div class="main_section_img_wording_main_part_double">
    <div class="row section_main_part">
      <div class="wording_part">
        <p class="name">
          RAY WEN
        </p>
        <p class="title">
          <i>Back-end Developer</i>
        </p>
        <p class="introduction">
          This is Ray, who graduated from the Australian National University. As a Bachelor of Mathematics and Master
          of Computing, I have a clear and deep understanding of the principles of programming, which give me the
          ability to analyze and refactor codes and make them more efficient. I worked as a programming teacher
          focusing on Java education three years ago and then I came to Australia to pursue a higher degree.
          I also have the experience of working as a full-stack web developer for a company to maintain, optimize,
          and add new features to their company. It is my plea- sure to help our people build and improve their
          websites and I will do my best to satisfy our business partners.
        </p>
      </div>
      <div class="img_part">
        <img src="../../assets/team/Ray.png" class="people_img" style="float: right;width: 100%">
      </div>
    </div>
  </div>
  <div class="main_section_img_wording_main_part_single">
    <div class="row section_main_part">
      <div class="img_part">
        <img src="../../assets/team/Qixuan.png" class="people_img">
      </div>
      <div class="wording_part">
        <p class="name">
          TINA ZHANG
        </p>
        <p class="title">
          <i>Front-end Web Developer</i>
        </p>
        <p class="introduction">
          This is Tina, graduated from the Australian National University. After graduation, I worked in a police
          check company as a front-end developer and led the team to build the front-end side of the individual portal
          as well as the business-portal. Now in webUmate, I have built many websites for business and organizations in
          different fields such as restaurants, higher education institutions, and one nursing service institution.
          In webUmate, my role is a front-end developer. Additionally, I am studying the knowledge about back-end
          development from my team members in webUmate. We are a team, and we can learn a lot from each other.
        </p>
      </div>

    </div>
  </div>
  <div class="main_section_img_wording_main_part_double">
    <div class="row section_main_part">
      <div class="wording_part">
        <p class="name">
          LEON ZHANG
        </p>
        <p class="title">
          <i>Mobile Application Developer</i>
        </p>
        <p class="introduction">
          This is Leon, who graduated from the Australian National University. I used to work in Baidu AI technology
          platform Group in Baidu Online Net- work Technology (Beijing) Co.,Ltd and then joined Deeperception Pty.Ltd.
          At the current stage, I am serving as a mobile development engineer in webUmate. As a technical lover, I am
          more favoured in applying technolo- gy to serve society and extending humanity. In my personal life, I am
          pas- sionate about hiking and badminton, and willing to meet new friends.
        </p>
      </div>
      <div class="img_part">
        <img src="../../assets/team/Yuliang.png" class="people_img" style="float: right">
      </div>
    </div>
  </div>
  <div class="main_section_img_wording_main_part_single">
    <div class="row section_main_part">
      <div class="img_part">
        <img src="../../assets/team/Annie.png" class="people_img">
      </div>
      <div class="wording_part">
        <p class="name">
          ANNIE FAN
        </p>
        <p class="title">
          <i>UX/UI/Graphic Designer</i>
        </p>
        <p class="introduction">
          As a passionate interaction designer who graduated from Monash Univer- sity, Annie is highly knowledgeable
          within the space of UI and UX. She has been working as a web designer and graphic designer for the past few
          years. Working at webUmate, her role includes website, logo and in- terface design, as well as creating
          various print materials, online ads and promotional images for social media. She is adept at identifying the
          cli- ent’s requirements and has made designs based on those needs.
        </p>
      </div>

    </div>
  </div>
</div>

<div class="main_section_whole_border mobile_version" style="background: white;width: 100%">
  <div class="main_section_img_wording_main_part_single">
    <div class="row section_main_part">
      <div class="img_part">
        <img src="../../assets/team/Sarvesh.png" class="people_img">
      </div>
      <div class="wording_part">
        <p class="name">
          SARVESHWARAN RAJAN
        </p>
        <p class="title">
          <i>Project Manager</i>
        </p>
        <p class="introduction introduction1" >
          This is Sarvesh, who graduated from The Australian National University with a Master of Computing degree
          majored in Artificial Intelligence. I have been involved <span [hidden]="show_Sarvesh">...</span>
        </p>
        <p class="introduction"  [hidden]="!show_Sarvesh">
          in the complete Software Development LifeCycle for
          more than six years now. As a System Design enthusiast and a Full Stack developer, I have experience building
          systems from scratch and have exe- cuted a few projects that are successful in production now. In the
          webU- mate, I am responsible for designing systems, implementing the backend technologies and also act as
          the Project manager directing the team to- wards the intended goal in a more efficient manner.
        </p>
        <a id="show_Sarvesh_id" class="show_more" (click)="show_Sarvesh_more()">

        </a>

      </div>

    </div>
  </div>
  <div class="main_section_img_wording_main_part_double">
    <div class="row section_main_part">
      <div class="wording_part">
        <p class="name">
          RAY WEN
        </p>
        <p class="title">
          <i>Back-end Developer</i>
        </p>
        <p class="introduction introduction1" id="introduction_show">
          This is Ray, who graduated from the Australian National University. As a Bachelor of Mathematics and Master
          of Computing, I have a clear and deep understanding of the principles of programming, <span [hidden]="show_Ray">...</span>
        </p>
        <p class="introduction" id="introduction_hide" [hidden]="!show_Ray">
          which give me the ability to analyze and refactor codes and make them more efficient.I worked as a programming teacher
          focusing on Java education three years ago and then I came to Australia to pursue a higher degree.
          I also have the experience of working as a full-stack web developer for a company to maintain, optimize,
          and add new features to their company. It is my plea- sure to help our people build and improve their
          websites and I will do my best to satisfy our business partners.
        </p>
        <a id="show_Ray_id" class="show_more" (click)="show_Ray_more()">

        </a>

      </div>
      <div class="img_part">
        <img src="../../assets/team/Ray.png" class="people_img" style="float: right;width: 100%">
      </div>
    </div>
  </div>
  <div class="main_section_img_wording_main_part_single">
    <div class="row section_main_part">
      <div class="img_part">
        <img src="../../assets/team/Qixuan.png" class="people_img">
      </div>
      <div class="wording_part">
        <p class="name">
          TINA ZHANG
        </p>
        <p class="title">
          <i>Front-end Web Developer</i>
        </p>
        <p class="introduction introduction1" >
          This is Tina, graduated from the Australian National University. After graduation, I worked in a police
          check company as a front-end developer and <span [hidden]="show_Tina">...</span>
        </p>
        <p class="introduction"  [hidden]="!show_Tina">
          led the team to build the front-end side of the individual portal
          as well as the business-portal. Now in webUmate, I have built many websites for business and organizations in
          different fields such as restaurants, higher education institutions, and one nursing service institution.
          In webUmate, my role is a front-end developer. Additionally, I am studying the knowledge about back-end
          development from my team members in webUmate. We are a team, and we can learn a lot from each other.
        </p>
        <a id="show_Tina_id" class="show_more" (click)="show_Tina_more()">

        </a>


      </div>

    </div>
  </div>
  <div class="main_section_img_wording_main_part_double">
    <div class="row section_main_part">
      <div class="wording_part">
        <p class="name">
          LEON ZHANG
        </p>
        <p class="title">
          <i>Mobile Application Developer</i>
        </p>
        <p class="introduction introduction1" >
          This is Leon, who graduated from the Australian National University. I used to work in Baidu AI technology
          platform Group in Baidu Online Net- work Technology (Beijing) Co.,Ltd <span [hidden]="show_Leon">...</span>
        </p>
        <p class="introduction"  [hidden]="!show_Leon">
          and then joined Deeperception Pty.Ltd. At the current stage, I am serving as a mobile development
          engineer in webUmate. As a technical lover, I am
          more favoured in applying technolo- gy to serve society and extending humanity. In my personal life, I am
          pas- sionate about hiking and badminton, and willing to meet new friends.
        </p>
        <a id="show_Leon_id" class="show_more" (click)="show_Leon_more()">

        </a>

      </div>
      <div class="img_part">
        <img src="../../assets/team/Yuliang.png" class="people_img" style="float: right">
      </div>
    </div>
  </div>
  <div class="main_section_img_wording_main_part_single">
    <div class="row section_main_part">
      <div class="img_part">
        <img src="../../assets/team/Annie.png" class="people_img">
      </div>
      <div class="wording_part">
        <p class="name">
          ANNIE FAN
        </p>
        <p class="title">
          <i>UX/UI/Graphic Designer</i>
        </p>
        <p class="introduction introduction1" >
          As a passionate interaction designer who graduated from Monash Univer- sity, Annie is highly knowledgeable
          within the space of UI and UX. She has been working as a web designer <span [hidden]="show_Annie">...</span>
        </p>
        <p class="introduction"  [hidden]="!show_Annie">
          and graphic designer for the past few years. Working at webUmate, her role includes website, logo
          and in- terface design, as well as creating
          various print materials, online ads and promotional images for social media. She is adept at identifying the
          cli- ent’s requirements and has made designs based on those needs.
        </p>
        <a id="show_Annie_id" class="show_more" (click)="show_Annie_more()">

        </a>
      </div>

    </div>
  </div>
</div>


<app-footer></app-footer>
