
<div style="position: fixed;width: 100%;top:0;z-index: 999">
  <app-navbar></app-navbar>
</div>

<!-- Top purple part -->
<div style="height: auto;background: #2e0e5a;width: 100%;">
  <div class="row" style="max-width: 1800px;margin: auto">
    <div class="top_left_demand_more_wording" >
      <h1 class="section_header_purple">
        DEMAND MORE FROM
        <br class="br_between_demand_more_from">
        YOUR WEBSITE
      </h1>


      <h2 class="top_left_sub_title">
        We merge imagination and technology to help brands
        grow in an age of digital transformation.
      </h2>

      <div>
        <img src="assets/home/contact_button.png" class="contact_img">
        <p class="contact_us_wording">Contact us</p>
      </div>
    </div>
    <img src="assets/home/girl.png" class="homebannerimg desk_tab_girl_img">
  </div>
  <img src="assets/home/girl.png" class="homebannerimg mobile_girl_img">
</div>

<div id="triangle_purple"></div>



<!-- Middle white part -->
<div class="middle_white_part_whole_border">
  <div class="middle_white_part_margin_box">
    <img src="assets/home/left%22.png" style="position: absolute;left: 20%;width: 10%;">
    <h1 class="section_header_we_are_webumate">WE ARE webUmate</h1>

    <h2 class="middel_white_main_content">
      webUmate is a user-centred company which can handle all customer’s website needs including the UI/UX design,
      website content formation, some innovative solutions, hosting and search engine optimisation. We also provide
      Full Stack website development training to the web developer aspirants..
    </h2>
    <img src="assets/home/right%22.png" style="position: absolute;left: 70%;width: 10%;margin-top: -60px">
  </div>
</div>

<!-- Middle pink part -->
<div
  style="height: auto;background: #ff2aad;width: 100%;margin:auto;text-align: center;color: #2e0e5a;padding-bottom: 100px">
  <div id="triangle_white"></div>

  <div class="pink_section_main_content">
    <div class="row" style="margin: 0">
      <div class="why_choose_left_wording">
        <h1 class="section_header_why_choose">WHY CHOOSE</h1>

        <h1 class="section_header_webUmate">webUmate?</h1>
      </div>
      <div class="why_choose_right_icons">
        <img src="assets/home/icon_01.png" class="icons_under_why_choose">
        <p class="icons_right_intro_under_why_choose">We can provide UI design.</p>

        <img src="assets/home/icon_02.png" class="icons_under_why_choose">
        <p class="icons_right_intro_under_why_choose">We can aply proper frameworks and tools to build a website.</p>

        <img src="assets/home/icon_03.png" class="icons_under_why_choose">
        <p class="icons_right_intro_under_why_choose">We can be passionate about the customer's needs and feedback.</p>

        <img src="assets/home/icon_04.png" class="icons_under_why_choose">
        <p class="icons_right_intro_under_why_choose">We can give customers long-term support and maintenance.</p>

        <img src="assets/home/icon_05.png" class="icons_under_why_choose">
        <p class="icons_right_intro_under_why_choose">We have the lowest price to design, build and support the
          website, meanwhile, we provide high-quality website services.</p>
      </div>
    </div>


    <div class="row six_buttons">
      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/UI:UX_design.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">UI/UX<br> Design</p>
      </div>

      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/website_development.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">Website<br>Development</p>
      </div>

      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/cusomised_requests.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">Customised<br>Requests</p>
      </div>

      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/support_maintenance.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">Support + <br> Maintenance</p>
      </div>

      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/price_ganrantee.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">Price<br>Ganrantee</p>
      </div>

      <div class="why_choose_each">
        <div class="why_choose_white_background">
          <img src="assets/home/website_security.png" class="why_choose_each_img">
        </div>
        <br>
        <p class="why_choose_each_word">Website<br>Security</p>
      </div>
    </div>
  </div>


</div>

<div id="triangle_pink"></div>


<!-- Middle white recent project part -->
<div style="height: auto;width: 100%;padding-bottom: 0" class="desktop_carousel">
  <!--  opacity: 1;filter: none-->
  <a class="carousel-control-prev" href="#recipeCarousel2" role="button" data-slide="prev"
     style="position: relative;left: 69%;">
    <span class="" aria-hidden="true">
      <img src="assets/home/left_arrow_with_background.jpg"
           style="width: 15%;position: absolute;margin-left: 80%">
    </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#recipeCarousel2" role="button" data-slide="next"
     style="position: relative;left: 80%">
    <span aria-hidden="true">
            <img src="assets/home/right_arrow_with_background.jpg"
                 style="width: 15%;position: absolute;left: 80%">
    </span>
    <span class="sr-only">Next</span>
  </a>
  <div class="row" style="max-width: 1500px;margin: auto;">
    <h1 class="section_header_recent_word" style="color: #2e0e5a">RECENT WORK</h1>
  </div>

  <div class="container-fluid mt-5">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 mb-4">
        <div style="width: 100%">
          <div class="row mx-auto my-auto">
            <div id="recipeCarousel2" class="carousel slide w-100 " data-ride="carousel">
              <div class="carousel-inner w-100 vv-3" role="listbox">
                <div class="carousel-item active">
                  <div class="col-4">
                    <img class="d-block img-fluid"
                         src="assets/home/zoobar.jpg" style="width: 95%">
                    <div>
                      <p class="recent_project_first_line">WEB DEVELOPMENT, ADVERTISING, PHOTOGRAPHY</p>
                      <p class="recent_project_second_line">ZOO BAR & GRILL</p>
                      <p class="recent_project_third_line">Dining Experience</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-4">
                    <img class="d-block img-fluid"
                         src="assets/home/gtxy.jpg" style="width: 95%">
                    <div>
                      <p class="recent_project_first_line">UX/UI DESIGN, CREATIVE SERVICE, WEB DEVELOPMENT</p>
                      <p class="recent_project_second_line">GRP</p>
                      <p class="recent_project_third_line">Transforming People's Lives</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-4">
                    <img class="d-block img-fluid"
                         src="assets/home/cbddumpling.jpg" style="width: 95%">
                    <div>
                      <p class="recent_project_first_line">WEB DEVELOPMENT, ADVERTISING, PHOTOGRAPHY</p>
                      <p class="recent_project_second_line">CBD DUMPLING HOUSE</p>
                      <p class="recent_project_third_line">Best Local Restaurant</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-4">
                    <img class="d-block img-fluid"
                         src="assets/home/yanglao.jpg" style="width: 95%">
                    <div>
                      <p class="recent_project_first_line">WEB DEVELOPMENT, ADVERTISING,UX/UI DESIGN</p>
                      <p class="recent_project_second_line">NURSING HOME</p>
                      <p class="recent_project_third_line">The Elderly Caring Service</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</div>

<div class="mobile_carousel">
  <div class="row" style="max-width: 1500px;margin: auto;">
    <h1 class="section_header_recent_word" style="color: #2e0e5a">RECENT WORK</h1>
  </div>
  <app-mobile-carousel></app-mobile-carousel>
</div>
<!-- Middle white grey project part -->
<!-- Middle pink part -->
<div
  style="height: auto;background: rgba(213,205,224,0.2);width: 100%;margin:auto;text-align: center;color: #2e0e5a;margin-top: 60px">
  <div id="triangle_white_2"></div>
  <div class="pink_section_main_content" style="max-width: 1500px;margin: auto; text-align: left">
    <h1 class="section_header_events" >
      EVENTS
    </h1>
    <p class="event_main_content">
      We will cooperate with <b style="font-weight: 500">EASI EDUCATION</b> institution to start a program which helps graduates to find
      web-developer jobs and internships in IT companies. We will cooperate to open full-stack development
      courses including front-end, back-end, UI design and Database. In this program, we also help students to
      build up their own Git, which is a necessary skill in the industry. Additionally, we will help you to
      experience what we need in the IT job.
    </p>

    <img src="assets/home/webUmate_logo.png" style="width: 25%;margin-left: 30%">
    <img src="assets/home/three_friends.png" style="width: 22%;margin-left: 3%">
    <img src="assets/home/easi_education_logo.png" style="width: 16%;margin-left: 3%;margin-top: 10px">
  </div>
</div>


<app-footer></app-footer>
