
<div style="position: fixed;width: 100%;top:0;z-index: 999">
  <app-navbar></app-navbar>
</div>

<!-- Top purple part -->
<div style="height: auto;background: #2e0e5a;width: 100%;">
  <div class="row" style="max-width: 1800px;margin: auto">
    <div class="top_left_demand_more_wording" >
      <h1 class="section_header_purple">
        <!-- You tell us demand -->
        Innovation Integrated Effortless

      </h1>


      <h2 class="top_left_sub_title">
        We merge creativity and technology to help brands grow in an age of digital transformation.
      </h2>

      <div [routerLink]="['/contact']" class="contact_arrow_div">
        <img src="assets/home/contact_button.png" class="contact_img">
        <p class="contact_us_wording">Contact us</p>
      </div>
    </div>
    <img src="assets/home/girl.png" class="homebannerimg desk_tab_girl_img">
  </div>
  <img src="assets/home/girl.png" class="homebannerimg mobile_girl_img">
</div>

<div id="triangle_purple"></div>



<app-home-we-are></app-home-we-are>
<app-home-why-choose></app-home-why-choose>
<!--&lt;!&ndash;<app-home-work-carousel></app-home-work-carousel>&ndash;&gt;-->
<!--&lt;!&ndash; Middle white grey project part &ndash;&gt;-->
<!--&lt;!&ndash; Middle pink part &ndash;&gt;-->
<app-home-more-details></app-home-more-details>


<app-footer></app-footer>
